.ClearSearchbar::-webkit-scrollbar {
    display: none !important;
}

/*TODO Hide scroll for firefox*/

.ClearSearchbar {
    -ms-overflow-style: none;
    /*scrollbar-width: none;*/
}

.ScrollDown {
    background: #121212 linear-gradient(transparent 0%, transparent 50%, #f9f8f8 50%, #f9f8f8 100%);
    position: absolute;
    bottom: 0;
    margin-bottom: 45px;
    width: 32px;
    height: 53px;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide 7s linear infinite, nudgeMouse 7s ease-out infinite;
}
.ScrollDown:before, .ScrollDown:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.ScrollDown:before {
    width: 26px;
    height: 47px;
    background-color: #121212;
    border-radius: 100px;
}
.ScrollDown:after {
    background-color: #f9f8f8;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    animation: trackBallSlide 7s linear infinite;
}
@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }
    20% {
        background-position: 0% 0%;
    }
    21% {
        background-color: #4e5559;
    }
    29.99% {
        background-color: #f9f8f8;
        background-position: 0% 0%;
    }
    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    51% {
        background-color: #4e5559;
    }
    59% {
        background-color: #f9f8f8;
        background-position: 0% 0%;
    }
    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    80% {
        background-position: 0% 0%;
    }
    81% {
        background-color: #4e5559;
    }
    90%, 100% {
        background-color: #f9f8f8;
    }
}
@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    6% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    14% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    15%, 19% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
    }
    28%, 29.99% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    30% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    36% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    44% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    45%, 49% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
    }
    58%, 59.99% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    60% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    66% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    74% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    75%, 79% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
    }
    88%, 100% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
}
@keyframes nudgeMouse {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(8px);
    }
    30% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(8px);
    }
    90% {
        transform: translateY(0);
    }
}