@import "./fonts.css";

body {
  margin: 0;
  font-family: 'Futura PT', 'Proxima Nova', 'Space Mono', sans-serif;
  overflow-x: hidden;
  background-color: #121212;
  color: #fff;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}